wheel==0.30.0
absl-py==0.4.0
apptools==4.4.0
astor==0.7.1
backports.weakref==1.0.post1
configobj==5.0.6
enum34==1.1.6
envisage==4.7.0
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.14.1
Markdown==2.6.11
mayavi==4.6.1
mock==2.0.0
numpy==1.15.0
pbr==4.2.0
progress==1.4
protobuf==3.6.1
pyemd==0.5.1
pyface==6.0.0
Pygments==2.2.0
six==1.11.0
termcolor==1.1.0
traits==4.6.0
traitsui==6.0.0
vtk==8.1.1
Werkzeug==0.14.1
tensorflow-gpu==1.5.0
h5py==2.8.0
scipy==1.1.0
Pillow==5.2.0
